
/*
------------------------------
  App styles
------------------------------
 */

* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: left;
  margin-left: 10%;
}

h4{
  margin-bottom: 25px !important;
}

/*
------------------------------
  Fields & Labels styles
------------------------------
 */

.label-country2 {
  margin-left: 15px;
  margin-bottom: 35px;
}

.input-field-country2 {
  margin-left: 15px;
  margin-bottom: 35px;
}

/*
------------------------------
  DataTable styles
------------------------------
 */

table{
  margin-top: 35px ;
  margin-bottom: 35px;
  width: 100%;
}


/*
------------------------------
  Plotting Chart styles
------------------------------
 */

.chart-canvas{
  margin-left: 7.5%;
}

.chart-card{
  margin-bottom: 75px;
}